body {
	margin: 0;
    background-color: #ffffff;
    font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.masthead {
    padding: 1em 2em;
	background: #2185C5;
	color: white;
}

.wrapper {
    padding: 1em;
    display: grid;
    grid-gap: .5em .5em;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
	grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}

.wrapper > div{
    padding: 1em;
    border-radius: 1em;
}

.main-content {
    background-color: rgb(127, 202, 255);
    grid-column: 1/9;
}

.user-bio {
    background-color: rgb(95, 175, 232);
    grid-column: 1/7;
}

.fav-movies {
    background-color: rgb(149, 205, 245);
    grid-column: 7/9;
    grid-row: 2/4;
}

.genre-info {
    background-color: rgb(104, 165, 208);
    grid-column: 1/7;
}

.rating-data {
	background-color: rgb(95, 175, 232);
	grid-column: 1/9;
}

footer {
    padding: 1em 2em;
	background: #2185C5;
	color: white;
}

img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
}