@font-face { 
    font-family: 'IntelOneMono-Regular'; 
    Src: url('https://raw.githubusercontent.com/intel/intel-one-mono/blob/main/fonts/woff/IntelOneMono-Regular.woff') format('truetype'); 
    src: url('https://cdn.rawgit.com/intel/intel-one-mono/main/fonts/woff/IntelOneMono-Regular.woff') format('woff');
    font-weight: 100; 
}

div {
    font-family:'IntelOneMono-Regular';
}

body {
	margin: 0;
    background-color: #ffffff;
    font-family: "IntelOneMono-Regular", 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.masthead, footer {
    background-color: #14181C;
}

.masthead {
    padding: 1em 2em;
	color: white;
}

.wrapper {
    background-color: #181D22;
    padding: 1em;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr; /* 8 columns */
    grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}

.wrapper > div{
    padding: 1em;
    border-radius: 1em;
    background-color: #1F262D;
    color: white;
}

.main-content {
    grid-column: 1/9;
}

.user-bio {
    grid-column: 1/7;
    grid-row: auto;
}

.fav-movies {
    grid-column: 7/9;
    grid-row: 2/4;
}

.genre-info {
    grid-column: 1/7;
}

.rating-data {
	grid-column: 1/9;
}

footer {
    padding: 1em 2em;
	color: white;
}

img {
    width: 150px;
    border-radius: 75px;
    float: left;
    margin-right: 20px;
}

#accountTitles {
    list-style: none;
    margin-top: 0;
}

#accountTitles h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#accountTitles h2 {
    margin: 0;
    padding: 0;
}

.user-bio {
    text-align: center;
}

.standard, .patron, .pro {
    position: relative;
    display: inline-block;
    border: 12em;
    padding: 12px;
    border: 20px;
    border-radius: 3px;
    font-weight: bold;
}

.standard {
    background-color: #40BCF4;
}

.patron {
    background-color: #FF8000;
}

.pro {
    background-color: #00E054;
}

#key {
    font-weight: bold;
}

#value {
    font-style: italic;
}

a {
    color: aliceblue;
}

a:hover {
    font-weight: bold;
    color: #40BCF4;
}

@media screen and (max-width: 768px) {
    .wrapper {
        /* Single column layout */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .main-content {
        grid-column: 1;
        grid-row: 1;
    }
    .user-bio {
        grid-column: 1;
        grid-row: 2;
    }
    .fav-movies {
        grid-column: 1;
        grid-row: 3;
    }
    .genre-info {
        grid-column: 1;  /* All sections take the full width */
        grid-row: inherit;
    }

    .rating-data {
        grid-column: 1;
        grid-row: inherit;
    }
}





