<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style\style.css">
    <title>DATA</title>
</head>
<body>

    <header>
        <h1 class="logo">StatsForLetterboxd</h1>
    </header>

    <main>
        <div id="userInfo"> 
            <img src="{{ posts.pfp }}" alt="ProfilePic" id="pfp">
            <ul id="accountTitles">
                <li><p id="accountName">{{ posts.name.accountName }}</p></li>
                <li><p id="userName">@{{ posts.name.userName }}</p></li>
            </ul>
        </div>
        <p id="AccountName">THERE IS TEXT HERE</p>
    </main>
    

    <!--Flask uses Jinja for parameters-->



    
    <p>TYPE: {{ posts.name.accountType }}</p>
    <h3>RATINGS:</h3>
    {% for rating in posts.ratingStats %}
        <p style="color: green;"> {{ rating }} </p>
    {% endfor %}
    
    <h3>FAVORITE MOVIES:</h3>
    {% for movie in posts.favMovies %}
        <p style="color: rgb(37, 83, 173);"> {{ movie }} </p>
    {% endfor %}

    <!-- This line is completely wrong. Need to access the sub dir -->
    
    <h3>FAVORITE GENRES:</h3>
    <ul>
        {% for genre, value in genres %}
            <li>{{ genre }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <h3>FAVORITE DIRECTORS:</h3>
    {% for directorName, score in directors %}
        <p> {{ directorName }} : {{ score }} </p>
    {% endfor %}
    

    
</body>
</html>