<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style\style.css">
    <title>DATA</title>
</head>
<body>
    <div class="site">
        <header class="masthead">
            <h1 id="siteTitle">StatsForLetterboxd</h1>
        </header>

        <div class="wrapper">
            <div class="mainContent">
                <img src="{{ posts.pfp }}" alt="ProfilePic" id="pfp">
                <ul id="accountTitles">
                    <li><h1 id="accountName">{{ posts.name.accountName }}</h1></li>
                    <li><h2 id="userName">@{{ posts.name.userName }}</h2></li>
                </ul>
            </div>

            <div class="userBio">
                <span id="user-type" class='{{"pro" if posts.name.accountType == 'Pro' else 'patron' if posts.name.accountType == 'Patron' else 'standard'}}'>{{ posts.name.accountType | upper }}</span>
                <p>"<i>{{ posts.bio }}</i>"</p>
                <p>
                    {% for key, val in posts.profileStats.items() %}
                    <span>
                        <span id="key">{{ key }}</span>: <span id="value">{{ val }}</span> 
                        {% if not loop.last %}
                            <span style="font-weight: bold;">|</span>
                        {% endif %} 
                    </span>
                    {% endfor %}
                </p>
            </div>

            <div class="favMovies">
                <h3>FAVORITE MOVIES:</h3>
                {% for movie in posts.favMovies %}
                    <p style="color: rgb(37, 83, 173);"> {{ movie }} </p>
                {% endfor %}
                <p> FAV USER PROFILE: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusamus laboriosam quae aliquid iure quis sunt cupiditate illum maxime omnis nisi vel sapiente veritatis molestias porro ratione iusto eaque expedita iste tempora, dolore quam doloremque id. Adipisci nobis rem dolor quisquam, quo aliquid quam, assumenda incidunt accusamus quae magni nisi!</p>
            </div>

            <div class="genreInfo">
                <h3>FAVORITE GENRES:</h3>
                <ul>
                    {% for genre, value in genres %}
                        <li>{{ genre }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                <p>GENRE USER PROFILE: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusamus laboriosam quae aliquid iure quis sunt cupiditate illum maxime omnis nisi vel sapiente veritatis molestias porro ratione iusto eaque expedita iste tempora, dolore quam doloremque id. Adipisci nobis rem dolor quisquam, quo aliquid quam, assumenda incidunt accusamus quae magni nisi!</p>
            </div>

            <div class="ratingData"> 
                <h3>RATINGS: DATA</h3>
                {% for rating in posts.ratingStats %}
                    <p style="color: green;"> {{ rating }} </p>
                {% endfor %}
                        
                <h3>FAVORITE DIRECTORS:</h3>
                {% for directorName, score in directors %}
                    <p> {{ directorName }} : {{ score }} </p>
                {% endfor %}
            </div>
        </div>
        
        <!--Flask uses Jinja for parameters-->
        <footer>
            <h3>Project created by: <a href="https://github.com/MichaelToast">MichaelToast</a></h3>
            <p>I am in no way affiliated with letterboxd or any of its companies, this was an independently created site.</p>
        </footer>
    
    </div>
</body>
</html>