<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script>
        function showLoadingGif(event) {
            event.preventDefault();  // Prevent form submission here
            document.getElementById("loadingGif").style.display = "block";  // Show the GIF
            document.getElementById("errorBlock").style.display = "none";   // Show the GIF
            document.getElementById("submitBttn").disabled = true;

            // Now submit the form after a slight delay to let the GIF display
            document.getElementById("submitBttn").form.submit(); // Submit the form programmatically
        }
    </script>
</head>
<body style="background-color: #14181C; color: white">
    <h1>Please give link</h1>

    <form action="{{ url_for('home') }}" method="post">
        <label for="flink">Page Link</label> <br>
        <input type="text" name="flink" id="flink"><br>
        <input type="submit" value="Submit" id="submitBttn" onclick="showLoadingGif(event)">
    </form>

    <div id="loadingGif" style="display: none;">
        <img src="/static/assets/loading.gif" alt="Loading..." style="width: 10%"/>
    </div>

    <div id="errorBlock" style="color: red;">
        {% if errorMessage != 0 %}
            <h1> ERROR </h1>
            {% if errorMessage == 1 %}
                <h1> This is not a letterboxd link </h1>
            {% endif %}
            {% if errorMessage == 2 %}
                <h1> This is not the homepage </h1>
            {% endif %}
            {% if errorMessage == 3 %}
                <h1> No user account could be found </h1>
            {% endif %}
            {% if errorMessage == 4 %}
                <h1> Not a valid webpage </h1>
            {% endif %}
        {% endif %}
        <h2 style="color: white;">Enter a link such as: https://letterboxd.com/USER/ </h2>
    </div>

</body>
</html>