<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style\homestyle.css">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <script>
        function showLoadingGif(event) {
            event.preventDefault();  // Prevent form submission here
            document.getElementById("loadingGif").style.display = "block";  // Show the GIF
            document.getElementById("errorBlock").style.display = "none";   // Show the GIF
            document.getElementById("submitBttn").disabled = true;

            // Now submit the form after a slight delay to let the GIF display
            document.getElementById("submitBttn").form.submit(); // Submit the form programmatically
        }
    </script>
</head>
<body>
    <br style="padding: 1rem;">
    <div id="formBlock">
        <div id="titles">
            <h1 id="siteTitle" class="chakra-petch-semibold">StatsForLetterboxd</h1>
            <h2 id="smallDescription">It's statistics... for your Letterboxd.</h2>
            <div id="subDisclaimer">No subscription required.</div>
        </div>

        <form action="{{ url_for('home') }}" method="post">
            <input type="text" name="flink" id="flink" placeholder="https://letterboxd.com/USER/" ><br>
            <input type="submit" value="Submit" id="submitBttn" onclick="showLoadingGif(event)">
        </form>

        <div id="loadingGif" style="display: none;">
            <img src="/static/assets/loading.gif" alt="Loading..." style="width: 10%"/>
        </div>

        <div id="errorBlock" style="color: red;">
            {% if errorMessage != 0 %}
                <h1 style="padding-bottom: 0; margin: 0;"> ERROR </h1>
                <div id="errorDescription">
                    {% if errorMessage == 1 %}
                        <h2> This is not a letterboxd link </h2>
                    {% endif %}
                    {% if errorMessage == 2 %}
                        <h2> This is not the homepage </h2>
                    {% endif %}
                    {% if errorMessage == 3 %}
                        <h2> No user account could be found </h2>
                    {% endif %}
                    {% if errorMessage == 4 %}
                        <h2> Not a valid webpage </h2>
                    {% endif %}
                </div>
            {% endif %}
            <h3 style="color: white; padding: 0; margin: 0;">Enter a link such as: https://letterboxd.com/USER/ </h3>
            <br>
        </div>
    </div>

    <footer>
        <div id="footer-block">
            Discover your Letterboxd habits like never before with StatsForLetterboxd! Explore personalized insite into your top films, favorite actors, directiors, most-watched genres, and more with no subscription required.
            Created by love by Michael Toast and Cody Bridgewater
        </div>
        <div id="footer-block">
            StatsForLetterboxd is an independent platform and is not endorsed, affiliated with, maintained, or sponsored by Letterboxd. All trademarks, including Letterboxd, are the property of their respective owners.
            Data provided by Letterboxd. Images provided by IMDB.
        </div>
    </footer>

</body>
</html>